body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url(imagens/fundoequação.png);
    
}
#conteudo {
    background-color: white;
    width: 60%;
    height: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px  7px rgba(0, 0, 0, 0.479);
}

h1 {
    color: #333;
    text-align: center;
}

div {
    margin-bottom: 20px;
}



input[type="text"],
input[type="submit"],
input[type="radio"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#resultado {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
}

